<!-- -*- mode: XML -*- -->
<launch>
  <!-- <arg name="car_name" default="car" />
  <arg name="racecar_version" default="racecar-uw-nano" /> -->

  <!-- Use mocap published car pose instead of using odom -->
  <!-- <arg name="use_mocap" default="false" /> -->

  <node pkg="mode_select" type="mode_select_node.py" name="mode_select" output="screen"/>
  <param name="op_mode" value="null"/>

</launch>