<!-- -*- mode: XML -*- -->
<launch>
  <arg name="car_name" default="car" />

  <group ns="$(arg car_name)">

    <group ns="vesc">
         <include file="$(find vesc_main)/launch/vesc.launch">
             <arg name="car_name" default="/$(arg car_name)" />
         </include>
    </group>

    <group ns="mux">
        <include file="$(find ackermann_cmd_mux)/launch/mux.launch" />
    </group>

    <group ns="state_estimator">
         <include file="$(find state_estimator_pkg)/launch/state_estimator.launch" />
    </group>

    <group ns="controller">
         <include file="$(find controller_pkg)/launch/controller.launch" />
    </group>

    <group ns="vrpn_client_ros">
         <include file="$(find vrpn_client_ros)/launch/vrpn_client_ros.launch" />
    </group>

  </group>

</launch>