<!-- -*- mode: XML -*- -->
<launch>
  <!-- <arg name="car_name" default="car" />
  <arg name="racecar_version" default="racecar-uw-nano" /> -->

  <!-- Use mocap published car pose instead of using odom -->
  <!-- <arg name="use_mocap" default="false" /> -->

  <node pkg="manual" type="preplan_node_python.py" name="preplan_python" output="screen" />
  <node pkg="manual" type="preplan_node_julia.jl" name="preplan_julia" output="screen" />
  <node pkg="manual" type="key_control_node.py" name="key_control" output="screen" />

</launch>